
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;

    background-image: 
    url('https://www.transparenttextures.com/patterns/old-husks.png'),
    linear-gradient(#e9e3d5, #e9e3d5);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: repeat;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1;
    margin: 5px;
  }
  
  h2 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #012039;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 0.8em;
    font-weight: 500;
    font-family: inherit;
    color: #012039;
    background-color: #fff8f8;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  #st-helmet {
    height: 400px;
  }
  
  .createForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .createForm input {
    height: 1.5em;
    width: 20em;
    margin: 0.5em;
  }
  .createForm button {
    margin: 0.5em;
  }

  .logo {
    height: 20em;
    padding: 1em;
    will-change: filter;
    transition: filter 300ms;
  }

  