body {
  background-color: #e9e3d5;
  background-image: none,
}

.logo {
    height: 20em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #ff0000ff);
  }